
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 27px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .App {
    max-width: 800px;
  }
}

@media screen and (min-width: 1440px) {
  .App {
    max-width: 1200px;
  }
}


.App img {
  width: 100px;
  margin-bottom: -17px;
}

input[type="text"],
input[type="password"],
button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
}

button {
  width: 156px;
  background-color: #0191ff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0191ff;
}

.error {
  color: red;
}
.labels
{
  position: relative;
  right: 121px;

}

